body {
  height: 100%;
  
  background-color: #f0ffff;
 
}
body {
    
 /* color: #fff;
  text-align: center;
 
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
 */
}

.nav-pills  {
  
 display: inline-block;
  float: none;
  vertical-align: top;
 text-align: center;
 margin-left: 20px;
 margin-top: 10px;
 margin-bottom: 10px;
}
.nav-tabs  {
  
 display: inline-block;
  float: none;
  vertical-align: top;
 text-align: center;
 margin-left: 20px;
 margin-top: 10px;
 margin-bottom: 10px;
}
.nav.nav-pills li a {
   color: #337ab7;
 }

.nav.nav-pills a:hover,
.nav.nav-pills a:focus 
{
 color: #b92c28 ;
 background-color: #ffffff;
 
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: #337ab7;
    background-color: #ffffff;
}

.nav-pills > .active > a {
    color: #337ab7;
        background-color: #ff0;
       
}

.nav-pills > li {
  display: inline-block;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 3, 2017, 2:26:48 PM
    Author     : Mikko
*/

